.ghost_button {
display:inline-block;
color: #fff;
border: 2px solid #fff;
text-align: center;
width: 250px;
padding: 10px;
text-decoration: none;
outline; none;
transition: background-color 0.2s ease-out, color0.2s ease-out;
}
.ghost_button:hover,
.ghost_button:active {
background-color: #fff;
color: #000229;
transition: background-color 0.3s ease-out, color 0.3s ease-out;
}